.trip_card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.trip_card img {
  display: block;
  width: 100%;
}
.trip_card_info {
  padding: 20px;
}
.trip_card_info h4 {
  font-size: 19px;
  font-weight: 600;
}

.trip_card_info h4 + p {
  font-size: 13px;
  color: var(--yellow);
  margin: 5px 0 15px;
}

.trip_card_info p:last-child {
  font-size: 13px;
  line-height: 24px;
  color: var(--contentGray);
  left: 0.25px;
}

.trip_card_buttons {
  margin-top: auto;
}

.trip_card_buttons a {
  display: inline-block;
  text-align: center;
  border-top: 1px solid #ddd;
  width: 50%;
  line-height: 50px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--contentGray);
}

.trip_card_buttons a:first-child {
  border-right: 1px solid #ddd;
}

.trip_card_buttons a:hover {
  color: var(--yellow);
}
