.showcase {
  /* width: 100%; */
  height: 712px;
  background: url("../images/dubai2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 90%, 945px);
  height: 712px;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.info h1 {
  font-size: 42px;
  font-weight: 500;
}

.info p {
  font-size: 22px;
  margin: 22px 0 34px;
  letter-spacing: 0.5px;
  line-height: 31.5px;
}

.form {
  display: flex;
  padding: 15px;
  background-color: white;
  border-bottom: 4px solid var(--yellow);
  margin-top: auto;
}

.form input {
  flex-grow: 1;
  padding: 0 15px;
  outline: none;
  border: none;
  border-right: 1px solid #ddd;
}
